{% extends '@EasyAdmin/page/content.html.twig' %}
{# main będzie bez białej obwódki #}

{% block page_title %}
	Dashboard
{% endblock %}

{% block page_content %}
	<div>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia mollitia distinctio fugiat quasi consequatur consequuntur, nulla iusto debitis magni nisi iste incidunt fuga voluptatibus, officiis in exercitationem. Dolor incidunt consectetur repellendus deserunt necessitatibus veniam fugit esse dignissimos voluptatem quaerat autem ullam mollitia, quos dolorum nobis commodi at a. Magnam ea earum libero id! Reiciendis nihil sit, molestias repudiandae saepe maiores dicta quaerat ut, tempore animi. Distinctio alias, consequatur saepe vero cupiditate mollitia, nemo repudiandae quod tenetur. Atque molestias laborum voluptas dignissimos consequatur at exercitationem aspernatur quia, perspiciatis non, quibusdam a nobis ad voluptatibus veritatis eius qui ab quidem, voluptatum, voluptatem.
	</div>
{% endblock %}

